<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net-Next" version="4.0.3" targetFramework="net472" />
  <package id="FSharp.Core" version="6.0.1" targetFramework="net472" />
  <package id="FSharp.Data" version="6.4.1" targetFramework="net472" />
  <package id="FSharp.Data.Csv.Core" version="6.4.1" targetFramework="net472" />
  <package id="FSharp.Data.Html.Core" version="6.4.1" targetFramework="net472" />
  <package id="FSharp.Data.Http" version="6.4.1" targetFramework="net472" />
  <package id="FSharp.Data.Json.Core" version="6.4.1" targetFramework="net472" />
  <package id="FSharp.Data.Runtime.Utilities" version="6.4.1" targetFramework="net472" />
  <package id="FSharp.Data.WorldBank.Core" version="6.4.1" targetFramework="net472" />
  <package id="FSharp.Data.Xml.Core" version="6.4.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
</packages>